.modal-backdrop{
    z-index: 0 !important;
    height: 100vh;
}

.add-record{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

form{
    background: #fff;
    padding: 50px;

}

.edit-body form{
    width: 100%;
}

label{
    display: block;
    padding: 10px 0;
    width: 30%;
}

input{
    margin-left: 10px;
}
.modal-dialog{
    margin-top: 30vh;
    transform: translateY(-50%);
}

