* {
  font-family: "Roboto", "SansSerif", sans-serif; }

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  padding: 30px 50px 20px;
  position: relative; }
.center:after {
  background: #d0d9ff;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.body {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 50vw;
  display: flex;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;}
.list li a {

  margin: 10px;
  border: 3px solid #4090ff;
  display: block;
  padding: 4vh 2vw;
  font-size: 20px;
  color: #000;
  position: relative;
  min-width: 100px; }
.list li a:hover {
  background: #4090ff;
  color: #fff; }
.list li a:after {
  background: #fff;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

footer p {
  text-align: center; }
