form{
    margin: -100px auto;
}

.select-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
select{
    margin-top: 10px;
}

label{
    text-align: center;
    font-size: 20px;
    margin: 0 5px;
}
option{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.btn-make-query{
    margin-top:100px;
}
